.App {
  display: flex;
}
.siderbarContainer{
    width : 270px ;
    height : 100vh ;
    border: 1px solid #000 ;
    padding : 10px ;
    overflow-y: auto; 
    scroll-behavior: smooth ;
    scrollbar-width: thin;
    display: flex ;
    flex-direction: column ;
    gap : 5px ;
}
.Content {
  flex-grow: 1;
  background-color: #fff;
}